<%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
<form class="form-horizontal">
  <div class="container my-5">
    <h4 class="mb-5">
      <span class="bg-light"><%= @customer.fullname %> の会員情報編集</span>
    </h4>
    
    <div class="row mb-3 ">
      <label class="col-form-label col-sm-2">氏名</label>
      <span class="col-sm-2"><%= f.text_field :first_name, class: "form-control" %></span>
      <span class="col-sm-2"><%= f.text_field :last_name, class: "form-control" %></span>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-2">フリガナ</label>
      <span class="col-sm-2"><%= f.text_field :first_name_kana, class: "form-control" %></span>
      <span class="col-sm-2"><%= f.text_field :last_name_kana, class: "form-control" %></span>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-2">郵便番号</label>
      <span class="col-sm-2"><%= f.text_field :postal_code, class: "form-control" %></span>
    </div>

    <div class="row mb-3 ">
      <label class="col-form-label col-sm-2">住所</label>
      <span class="col-sm-4"><%= f.text_field :address, class: "form-control" %></span>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-2">電話番号</label>
      <span class="col-sm-3"><%= f.text_field :telephone_number, class: "form-control" %></span>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-2">メールアドレス</label>
      <span class="col-sm-3"><%= f.text_field :email, class: "form-control" %></span>
    </div>

    <div class="offset-md-2">
      <%= f.submit "変更を保存", class: "btn btn-success mb-3 col-sm-2" %>
      <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger mb-3 col-sm-2 offset-md-2" %>
    </div>
  </div>
</form>
<% end %>
