<h1>Admin::Items#edit</h1>
<div class="container">
  <h4>
    <span class="bg-light">商品編集</span>
  </h4>

  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
  <div>
  <div class="row m-4">
    <p>商品画像</p>
    <span class="col-md-3 mx-5">
      <%= f.file_field :image, accept: "image/*" %>
    </span>
  </div>

  <div class="row m-4">
    <p>商品名　</p>
    <span class="col-md-3 mx-5">
      <%= f.text_field :name, class: "form-control" %>
    </span>
  </div>

  <div class="row m-4">
    <p>商品説明</p>
    <span class="col-md-3 mx-5">
      <%= f.text_area :introduction, class: "form-control" %>
    </span>
  </div>

  <div class="row m-4">
    <p>ジャンル</p>
    <span class="col-md-3 mx-5">
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
    </span>
  </div>

  <div class="row m-4">
    <p>税抜価格</p>
      <span class="col-md-2 mx-5 d-flex flex-row">
        <%= f.text_field :price, data: { autonumeric: true }, class: "form-control" %><span class="m-2">円</span>
      </span>
  </div>

  <!--%= form_with(model: @item, local: true) do |form| %-->
  <div class="row m-4">
    <span>販売ステータス</span>
    <%= f.radio_button :is_active, :true, class: "mx-3" %>
    <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>

    <%= f.radio_button :is_active, :false, class: "mx-3" %>
    <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
  </div>
  

  <p class="m-3"><%= f.submit '変更を保存', class: "btn btn-success offset-md-2" %></p>
  </div>
  <% end %>
  </div>
 