<h1>Admin::Items#index</h1>


<div class="container">
  <div class="row">
    <h4 class="px-1 m-3">
      <span class="bg-light font-weight-bold">
        商品一覧
      </span>
    </h4>
    <span class="offset-md-9"><%= link_to "+", new_admin_item_path, class: "btn btn-lg btn-outline-secondary rounded-circle font-weight-bold shadow-sm" %></span>
  </div>
  <table class="table">
    <thead>
      <th class="scope">商品ID</th>
      <th class="scope">商品名</th>
      <th class="scope">税別価格</th>
      <th class="scope">ジャンル</th>
      <th class="scope">販売ステータス</th>
    </thead>
  <% @items.each do |item| %>
    <tbody>
      <tr>
        <th class="scope"><%= item.id %></th>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active == "販売中" %>
            <span class="text-success font-weight-bold"><%= item.is_active %></span>
          <% else %>
            <span class="text-secondary font-weight-bold"><%= item.is_active %></span>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>
 <%= paginate @items %>