<div class="container">
  <h4 class="mt-5">
    <span class="bg-light">商品新規登録</span>
  </h4>

  <div class="row">
    <div class="col-md-3">
      <div class="m-3">画像</div>
      <div class="m-3">商品名</div>
      <div class="m-3 my-5">商品説明</div>
      <div class="m-3">ジャンル</div>
      <div class="m-3 my-4">税抜価格</div>
      <div class="m-3">販売ステータス</div>
    </div>
    <%= form_with model: @item, url: admin_items_path, local: true, method: :post do |f| %>
    <div class="col-md-9">
        <div class="m-3">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="m-3">
          <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
        </div>
        <div class="m-3">
          <%= f.text_area :introduction, placeholder: "ここに説明を記述します", class: "form-control col-md-12" %>
        </div>
        <div class="m-3">
          <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { include_blank: '選択してください' }, class: "custom-select" %>
        </div>
        <div class="m-3">
          <%= f.text_field :price, data: { autonumeric: true }, placeholder: "1000", class: "form-control" %>
        </div>
        <div class="m-3">

            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>

        </div>
        <%= f.submit '新規登録', class: "btn btn-success mb-5" %>
    </div>
    <% end %>
  </div>
</div>

