<h1>Admin::Items#show</h1>

<h2>商品詳細</h2>

<div>
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "350x300" %>
  <% else %>
    <%= image_tag 'no_image', size: "300x300" %>
  <% end %>
</div>

<div>
  <p>商品名</p>
  <span><%= @item.name %></span>

  <p>商品説明</p>
  <span><%= @item.introduction %></span>

  <p>ジャンル</p>
  <span><%= @item.genre.name %></span>

  <p>税込価格(税抜価格)</p>
  <span><%= @item.with_tax_price.to_s(:dalimited) %></span>
  <span>(<%= @item.price %>)円</span>

  <p>販売ステータス</p>
  <%= @item.is_active %>

  <%= link_to "編集する", edit_admin_item_path(@item.id) %>

</div>