<div class="container">
<h4 class="m-4">
  <span class="bg-light"><%= @customer.fullname %>の会員詳細</span>
</h4>
<table class="table">
  <tbody>
    <tr>
      <th scope="col">会員ID</th>
      <td><%= @customer.id %></th>
    </tr>
    <tr>
      <th scope="col">氏名</th>
      <td><%= @customer.fullname %></td>
    </tr>
    <tr>
      <th scope="col">フリガナ</th>
      <td><%= @customer.fullname_kana %></td>
    </tr>
    <tr>
      <th scope="col">郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th scope="col">住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th scope="col">電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th scope="col">メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <th scope="col">会員ステータス</th>
      <td>
        <!--boolean型には、enumを使わない、使ってしまうとDBにも設定したenumの文字が保存されてしまう。-->
        <% if @customer.is_deleted == false %>
          <span class="text-success">有効</span>
        <% else %>
          <span class="text-secondary">退会</span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <span><%= link_to "編集する", admin_customer_edit_path(@customer.id), class: "btn btn-success m-3" %></span>
  <span><%= link_to "注文履歴一覧を見る", admin_order_order_details_path(@customer.id), class: "btn btn-primary m-3" %></span>
</div>
</div>