<h1>Admin::Customers#show</h1>

<h4><%= @customer.first_name %><%= @customer.last_name %>の会員詳細</h4>

<div>
  <p>会員ID</p>
  <span><%= @customer.id %></span>

  <p>氏名</p>
  <span><%= @customer.first_name %></span>
  <span><%= @customer.last_name %></span>

  <p>フリガナ</p>
  <span><%= @customer.first_name_kana %></span>
  <span><%= @customer.last_name_kana %></span>

  <p>郵便番号</p>
  <span><%= @customer.postal_code %></span>

  <p>住所</p>
  <span><%= @customer.address %></span>

  <p>電話番号</p>
  <span><%= @customer.telephone_number %></span>

  <p>メールアドレス</p>
  <span><%= @customer.email %></span>

  <p>会員ステータス</p>
  <span><%= @customer.is_deleted %></span>

</div>

<div>
  <span><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></span>
  <span><%= link_to "注文履歴一覧を見る", admin_orders_path %></span>
</div>