<!--個人の注文履歴をつくる場所-->
<div class="container my-4">
  <h4 class="my-4">
    <span><%= @customer.fullname %>さんの注文履歴</span>
  </h4>
  <div>
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>購入日時</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
          <th></th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td class="col-sm-2 align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class="align-middle"><%= order.order_details.sum(:amount) %></td>
          <td class="align-middle"><%= order.status_i18n %></td>
          <td class="align-middle"><%= link_to "表示する", admin_order_path(order), class: "btn btn-primary" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="offset-md-5 my-5">
    <%= paginate @orders %>
  </div>
</div>