<div class="container">
<h4 class="m-4">
  <span class="bg-light">注文履歴一覧(全会員のもの)</span>
</h4>

<table class="table">
  <thead class="bg-light">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order.each do |order| %>
    <tr>
      <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_order_details_path(order.customer_id) %></td>
      <!--ここのリンクをどうにかする。-->
      <td><%= order.customer.fullname %></td>
      <!--購入者を表示、お届け先の人の名前を表示していた。↑-->
      <td><%= order.order_details.sum(:amount) %></td>
      <td><%= order.status_i18n %></td>
    </tr>
    <% end %>
  </tbody>
  <div class="offset-md-5 my-5">
    <%= paginate @order %>
  </div>
</div>

</table>

</div>
