<div class="container">
  <h2 class="m-5">
    <span class="bg-light">配送先登録/一覧</span>
  </h2>

  <div class="row">
    <div class="col-md-4">
      <h4 class="my-4">郵便番号(ハイフンなし)</h4>
      <h4 class="my-4">住所</h4>
      <h4 class="my-4">宛名</h4>
    </div>


    <div class="col-md-8">
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
      <p class="my-4 offset-sm-2"><%= f.text_field :postal_code, class: "form-control col-md-6", placeholder: "0000000" %></p>
      <p class="my-4 offset-sm-2"><%= f.text_field :address, class: "form-control col-md-12", placeholder: "東京都渋谷区代々木神園町0-0" %></p>
      <p class="my-4 offset-sm-2"><%= f.text_field :name, class: "form-control col-md-6", placeholder: "令和道子" %></p>
      <p class="offset-sm-2"><%= f.submit '新規登録', class: "btn btn-success col-md-6" %></p>
    <% end %>
    </div>
  </div>



  <div class="m-5">
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th  class="bg-light col-md-2">郵便番号</th>
          <th class="bg-light col-md-5">住所</th>
          <th class="bg-light col-md-2">宛名</th>
          <th class="bg-light col-md-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success m-1" %>
            <%= link_to "削除する", addresses_path, method: :delete, class: "btn btn-danger m-1" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>

</div>
