<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if request.path =='/' %>
      <%= render partial: "layouts/customers_header" %>
    <% else %>
      <%= render partial: "layouts/admin_header" %>
    <% end %>
    <!--リクエストパスによって条件分岐で、表示を切り替えたが、そもそもadminとpublicはどう切り替えてもらうのか？adminを使うときはURLに/adminと入れてとお願いする?-->
  </header>

  <body>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
